@import "../node_modules/@angular/material/theming";
@include mat-core();

$primary: (
  50: #e1f5f9,
  100: #b2e4f1,
  200: #82d2e9,
  300: #55c0e1,
  400: #33b3dd,
  500: #0ea7da,
  600: #0099cc,
  700: #0086ba,
  800: #0076a6,
  900: #005685,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: white,
    900: white,
  ),
);

$accent: (
  50: #e1f5f8,
  100: #b4e6ee,
  200: #86d5e5,
  300: #5cc4dc,
  400: #3db8d8,
  500: #1facd5,
  600: #139ec8,
  700: #008bb6,
  800: #007aa3,
  900: #005b83,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: white,
    900: white,
  ),
);

$warn: (
  50: #fdecf0,
  100: #fbd0d8,
  200: #ea9ea6,
  300: #e07983,
  400: #ec5b66,
  500: #f24a51,
  600: #e3434e,
  700: #d03a47,
  800: #c3343f,
  900: #b32b35,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: white,
    800: white,
    900: white,
  ),
);

$spms-primary: mat-palette($primary, 600);
$spms-accent: mat-palette($accent, 800);
$spms-warn: mat-palette($warn, 800);

$spms-theme: mat-light-theme($spms-primary, $spms-accent, $spms-warn);

@include angular-material-theme($spms-theme);
